body{
    width:1200px ;
    margin: auto;
    background-color: #D3D3D3;
    text-align: center;
}

nav ul{
display: grid;
grid-template-columns:repeat(5,1fr);
margin-bottom: 20px;

}
nav{
background-color: 	#808080;
margin-bottom: 30px;
padding-left: 116px;
padding-right: 110px
}
nav ul li{
font-size: 20px;
vertical-align: middle;
margin:auto;
color: #ddd;
padding-top: 10px;
padding-bottom: 10px;

}

main>img:first-child{
width: 960;

}
main div {
width: 960px;
display: grid;
grid-template-columns:repeat(3,1fr);
gap: 30px;
margin-top: 30px;
margin-left: 120px;
margin-right: 120px;
}
h3{
text-align: left;
font-weight: 700;
font-size: 20px;
padding-bottom: 5px;
}

div#inline img,div#inline section{

display:inline;
}
#inline p{
width: 451px;
overflow-y:scroll;
height: 351px;
line-height: 23px;

}

button{
background-color: #000000;

color: #FFFFFF;

/* padding:15px 50px; */

font-size: 15px;
border-radius: 20px;
margin-right: 320px;
}



/* button {
    background-color:black;
    color: white;
    padding:15px 50px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: center;
    transition-duration: 350ms;
   margin-bottom: 30px;
   margin-top: 30px;
} */







button:hover{
background-color: #800000	;
}




/* background-color:black;
    color: white;
    padding:15px 50px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: center;
    transition-duration: 350ms;
   margin-bottom: 30px;
   margin-top: 30px; */


   /* #333336 */


   footer
   {
    background-color: #808080	;
    
    padding: 50px 70px;
    
    margin-top: 20px;
    
    }